.Info-dos { 
    display: flex;
    align-items: center;
    padding: 15px;
    min-height: 500px;
    justify-content: space-around;
    margin-top: 55px;
    background: rgb(220, 99, 220);
    margin-bottom: 25px;
}

.Info-dos .imagenes { 
    display: flex;
    position: relative;
}

.Info-dos .imagenes img { 
    border-radius: 15px;
}

.Info-dos .imagenes .imagen-dos { 
    position: absolute;
    left: 70%;
    top: -10%;
    box-shadow: 0 0 15px #000;
}

.Info-dos .info-amor { 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Info-dos .info-amor p { 
    width: 900px;
    text-align: center;
}