.Pie { 
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: center;
}

.Pie .redes-Sociales { 
    display: flex;
    align-items: center;
    gap: 55px;
    font-size: 45px;
}

.Pie .redes-Sociales .icono { 
    filter: drop-shadow(10px 10px 15px #000);
}
